[workspace]
members = [
    "pyo3-stub-gen",
    "pyo3-stub-gen-derive",
    "pyo3-stub-gen-testing-pure",
    "pyo3-stub-gen-testing-mixed",
]
resolver = "2"

[workspace.package]
version = "0.2.0"
edition = "2021"

description = "Stub file (*.pyi) generator for PyO3"
repository = "https://github.com/Jij-Inc/pyo3-stub-gen"
keywords = ["pyo3"]
license = "MIT OR Apache-2.0"
readme = "README.md"

[workspace.dependencies]
anyhow = "1.0.86"
insta = "1.39.0"
inventory = "0.3.15"
itertools = "0.13.0"
prettyplease = "0.2.20"
proc-macro2 = "1.0.86"
pyo3 = { version = ">=0.21.0", features = ["experimental-inspect"] }
quote = "1.0.36"
serde = { version = "1.0.205", features = ["derive"] }
syn = "2.0.72"
toml = "0.8.19"
