name: Python

on:
  push:
    branches:
      - "main"
  pull_request:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        crate:
          - pure
          - mixed
          - test-dash-package
          - feature_gated
          - empty_super_module
          - simple_name_collision
          - avoid_name_collision_with_submod
          - type-statement-alias
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Environment
        uses: ./.github/actions/setup-test-environment
        with:
          python-version: ${{ matrix.python-version }}
      - name: Generate stub file
        run: task ${{ matrix.crate }}:stub-gen
      - name: Check if stub file is up to date
        run: git diff --exit-code
      - name: Test
        run: task ${{ matrix.crate }}:test

  doc-test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        crate:
          - pure
          - mixed
          - hidden_module_docgen_test
        python-version:
          - "3.13" # Only test on latest Python
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Environment
        uses: ./.github/actions/setup-test-environment
        with:
          python-version: ${{ matrix.python-version }}
      - name: Test documentation generation
        run: task ${{ matrix.crate }}:doc-test
      - name: Check if generated API docs are up to date
        run: git diff --exit-code
