name: Rust

on:
  push:
    branches:
      - "main"
  pull_request:
  workflow_dispatch:

jobs:
  doc-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Environment
        uses: ./.github/actions/setup-test-environment
      - name: Check warnings in documents
        uses: actions-rs/cargo@v1
        with:
          command: doc
          args: --no-deps
        env:
          RUSTDOCFLAGS: -D warnings

  fmt:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Environment
        uses: ./.github/actions/setup-test-environment
      - name: Run cargo fmt
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check

  clippy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Environment
        uses: ./.github/actions/setup-test-environment
      - name: Check with clippy
        uses: actions-rs/clippy-check@v1
        with:
          args: --all-features -- -D warnings
          token: ${{ secrets.GITHUB_TOKEN }}

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Environment
        uses: ./.github/actions/setup-test-environment
      - name: Run tests
        uses: actions-rs/cargo@v1
        with:
          command: test
      - name: Run tests (no default features)
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --no-default-features -p pyo3-stub-gen

  deny:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Check licenses
        uses: EmbarkStudios/cargo-deny-action@v2
        with:
          command: check licenses

  semver-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Check semver
        uses: obi1kenobi/cargo-semver-checks-action@v2
        with:
          package: pyo3-stub-gen, pyo3-stub-gen-derive
